InterfazPickMate.json
[{"id":"2cd336ed98bc3714","type":"tab","label":"Output","disabled":false,"info":"","env":[]},{"id":"f1da3b7dc977b815","type":"tab","label":"Input","disabled":false,"info":"","env":[]},{"id":"60775da175cc7840","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"PickMate","default":"#4B7930","baseColor":"#64a05d","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#64a05d","edited":true},"page-titlebar-backgroundColor":{"value":"#2a375c","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#64a05d","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#64a05d","edited":true},"group-backgroundColor":{"value":"#64a05d","edited":true},"widget-textColor":{"value":"#2a375c","edited":true},"widget-backgroundColor":{"value":"#64a05d","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"PickMate Dashboard","hideToolbar":"false","allowSwipe":"mouse","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"a463739545fd7c4e","type":"ui_tab","name":"PickMate Output","icon":"fa-bar-chart","order":1,"disabled":false,"hidden":false},{"id":"72dfea66aca0dc31","type":"ui_group","name":"Posición","tab":"a463739545fd7c4e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"353884b95cb302fd","type":"mqtt-broker","name":"broker_TEC","broker":"http://10.25.107.235/","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ea48f7efc7465c57","type":"mqtt-broker","name":"broker_steren","broker":"192.168.1.8","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b6d4c5856977b45c","type":"mqtt-broker","name":"Helena_Home","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"abf91a629037722f","type":"ui_group","name":"Lectura","tab":"a463739545fd7c4e","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"695525c00b4224b5","type":"ui_tab","name":"PickMate Input","icon":"fa-pencil","order":2,"disabled":false,"hidden":false},{"id":"d04ce252a752ae33","type":"ui_group","name":"Control Manual","tab":"695525c00b4224b5","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"504814d2fb8a6c79","type":"ui_group","name":"Modalidad","tab":"695525c00b4224b5","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"c64284621924e6d6","type":"ui_group","name":"Camera","tab":"695525c00b4224b5","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a1cacbdb0d630cb8","type":"mqtt-broker","name":"Aldemar_broker","broker":"http://172.20.10.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a505838dc87e4f96","type":"mqtt-broker","name":"Sebas_hotspot","broker":"192.168.19.61","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e666ef7cd7c1fcd4","type":"ui_text","z":"2cd336ed98bc3714","group":"72dfea66aca0dc31","order":1,"width":6,"height":4,"name":"","label":"Coordenadas Cuadrado","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"20","color":"#000000","x":1250,"y":280,"wires":[]},{"id":"bb245e15b5782b22","type":"mqtt in","z":"2cd336ed98bc3714","name":"","topic":"laptop/cuadrado/x","qos":"2","datatype":"auto-detect","broker":"a505838dc87e4f96","nl":false,"rap":true,"rh":0,"inputs":0,"x":930,"y":280,"wires":[["e666ef7cd7c1fcd4"]]},{"id":"71d0c14e2ec8a813","type":"ui_text","z":"2cd336ed98bc3714","group":"72dfea66aca0dc31","order":2,"width":6,"height":4,"name":"","label":"Coordenadas Tomate ","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"20","color":"#000000","x":1240,"y":200,"wires":[]},{"id":"8522049cb63a79a6","type":"mqtt in","z":"2cd336ed98bc3714","name":"","topic":"laptop/tomate/x","qos":"2","datatype":"auto-detect","broker":"a505838dc87e4f96","nl":false,"rap":true,"rh":0,"inputs":0,"x":920,"y":200,"wires":[["71d0c14e2ec8a813"]]},{"id":"606bf8e513d6236e","type":"mqtt in","z":"2cd336ed98bc3714","name":"","topic":"servos/sensor","qos":"2","datatype":"auto-detect","broker":"a505838dc87e4f96","nl":false,"rap":true,"rh":0,"inputs":0,"x":910,"y":360,"wires":[["dac111822eebca12"]]},{"id":"dac111822eebca12","type":"ui_text","z":"2cd336ed98bc3714","group":"abf91a629037722f","order":1,"width":12,"height":3,"name":"","label":"Detección","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"20","color":"#000000","x":1200,"y":360,"wires":[]},{"id":"79f8896f2be1b788","type":"ui_gauge","z":"2cd336ed98bc3714","name":"","group":"abf91a629037722f","order":2,"width":6,"height":5,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#08e708","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1210,"y":440,"wires":[]},{"id":"d3b9381d5cd51a76","type":"ui_gauge","z":"2cd336ed98bc3714","name":"","group":"abf91a629037722f","order":3,"width":6,"height":5,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1200,"y":500,"wires":[]},{"id":"05247b0bf1afea74","type":"mqtt in","z":"2cd336ed98bc3714","name":"","topic":"laptop/temperatura","qos":"2","datatype":"auto-detect","broker":"a505838dc87e4f96","nl":false,"rap":true,"rh":0,"inputs":0,"x":930,"y":440,"wires":[["79f8896f2be1b788"]]},{"id":"7f39308ad784bbdf","type":"mqtt in","z":"2cd336ed98bc3714","name":"","topic":"laptop/humedad","qos":"2","datatype":"auto-detect","broker":"a505838dc87e4f96","nl":false,"rap":true,"rh":0,"inputs":0,"x":920,"y":500,"wires":[["d3b9381d5cd51a76"]]},{"id":"b36098a5c3f5e4ea","type":"ui_button","z":"f1da3b7dc977b815","name":"","group":"d04ce252a752ae33","order":2,"width":3,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-3x fa-hand-o-left","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":1050,"y":160,"wires":[["b30d16a0a9db9aa4"]]},{"id":"7a33aa2a40a28287","type":"ui_switch","z":"f1da3b7dc977b815","name":"","label":"Manual / Automático","tooltip":"","group":"504814d2fb8a6c79","order":1,"width":6,"height":4,"passthru":true,"decouple":"false","topic":"modalidad","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":340,"y":220,"wires":[["cea4082763037466","0338476407149e20"]],"icon":"font-awesome/fa-toggle-on"},{"id":"a21ac114b6a5acf7","type":"ui_button","z":"f1da3b7dc977b815","name":"","group":"d04ce252a752ae33","order":3,"width":3,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-3x fa-hand-o-right","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":1050,"y":220,"wires":[["6c6551594f94379c"]]},{"id":"9860a49657f31156","type":"ui_button","z":"f1da3b7dc977b815","name":"","group":"d04ce252a752ae33","order":1,"width":6,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-3x fa-hand-lizard-o","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":1050,"y":280,"wires":[["23937f9c6cc7e023"]]},{"id":"d2668c7cc8a8a97b","type":"ui_ui_control","z":"f1da3b7dc977b815","name":"","events":"change","x":780,"y":220,"wires":[["b36098a5c3f5e4ea","a21ac114b6a5acf7","9860a49657f31156","ef240a45f0379e54"]]},{"id":"ef240a45f0379e54","type":"ui_template","z":"f1da3b7dc977b815","group":"c64284621924e6d6","name":"Camera","order":1,"width":"6","height":"4","format":"<div style=\"text-align: center;\">\n    <img src=\"http://192.168.19.251:4747/video\" alt=\"Stream no disponible\" style=\"width: 100%; max-width: 600px;\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1040,"y":360,"wires":[[]]},{"id":"b30d16a0a9db9aa4","type":"mqtt out","z":"f1da3b7dc977b815","name":"","topic":"motor/izquierda","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a505838dc87e4f96","x":1280,"y":160,"wires":[]},{"id":"6c6551594f94379c","type":"mqtt out","z":"f1da3b7dc977b815","name":"","topic":"motor/derecha","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a505838dc87e4f96","x":1280,"y":220,"wires":[]},{"id":"23937f9c6cc7e023","type":"mqtt out","z":"f1da3b7dc977b815","name":"","topic":"motor/garra","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a505838dc87e4f96","x":1270,"y":280,"wires":[]},{"id":"0338476407149e20","type":"mqtt out","z":"f1da3b7dc977b815","name":"","topic":"modalidad","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a505838dc87e4f96","x":590,"y":120,"wires":[]},{"id":"cea4082763037466","type":"change","z":"f1da3b7dc977b815","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"{     \"group\": {         \"hide\": [             \"PickMate_Input_Control_Manual\",             \"PickMate_Input_Camera\"         ]     } }","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"{\"group\":{\"show\":[\"PickMate_Input_Control_Manual\",\"PickMate_Input_Camera\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["d2668c7cc8a8a97b"]]}]